<div class="container" data-aos="fade-down">
    <mat-card *ngIf="lecturer" [class.mat-elevation-z8]="true">
        <mat-card-title>DETALJI</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
          <span>ID: </span> {{lecturer.id}}
          <br>
          <span>Ime: </span> {{lecturer.firstname}} 
          <br>
          <span>Prezime: </span> {{lecturer.lastname}}
          <br>
          <span>email: </span> {{lecturer.email}}
          <br>
        
  
    <!--<app-studij [ects]="student.numberOfECTS"></app-studij>-->
      <br>
      <br>
      <button class="btn btn-back btn-5b icon-left"  routerLink="/lecturers">
        <span>Nazad</span>
      </button>
     </mat-card-content>
    </mat-card>
  